.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  padding: 4rem 1.5rem;

  border-top: 1px solid var(--gray-400);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  color: var(--gray-300);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.containerImg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.containerImg > img {
  width: 56px;
  height: 56px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}